/* Basis Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color:rgb(39, 39, 39);
}

header {
  padding: 1rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: right;
}

section {
  margin-bottom: 100px;
}

.container-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 Spalten */
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: center; 
  justify-content: center;
}

.container-30-30-30 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 2 Spalten */
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  align-items: center; 
  justify-content: center;
}

.column {
  border-radius: 8px;

}

.fullwidth {
  width: 100%;
}

.center {
  text-align: center;
}

.mb {
  margin-bottom: 1rem;
}



/* Galerie-Container */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; /* Abstand zwischen Bildern */
  padding: 10px;
  justify-content: center;
}

/* Galerie-Items */
.gallery-item {
  flex: 1 1 calc(33.333% - 10px); /* 4 Spalten, Abstand abziehen */
  overflow: hidden;
  min-width: 200px; /* verhindert zu kleine Items auf sehr schmalen Bildschirmen */
  max-width: 30%;
}

p {
  font-size: 1rem;
  line-height: 1.2rem;
}

blockquote {
  color: #949494;
  font-size: 0.75rem;
  margin: 0.5rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 700;
  font-style: normal;
}
h5 {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

/* Bilder */
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* wird durch lazyload später sichtbar */
  margin-bottom: 1rem;
}

/* Lazyload-Fade-In */
.gallery-item img.loaded {
  opacity: 1;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: #000;        /* schwarzer Hintergrund */
  color: #fff;                   /* weiße Schrift */
  padding: 0.5rem;            /* Innenabstand */
  font-size: 0.75rem;               /* Schriftgröße */
  border: none;                  /* kein Rahmen */
  cursor: pointer;               /* Mauscursor auf Pointer */
  transition: all 0.3s ease;     /* sanfter Übergang für Hover */
  margin-top: 0.5rem;
  min-width: 50px;
}

/* Hover-Effekt */
.btn:hover {
  background-color: #2f00ff;        /* etwas helleres Schwarz beim Hover */
}

.btn:disabled {
  background-color: #ccc;       /* graues Design */
  color: #555;                   /* helle Schrift für Kontrast */
  cursor: not-allowed;           /* Zeiger zeigt, dass Klick nicht möglich ist */
  transform: none;               /* keine Hover-Transformation */
  box-shadow: none;              /* kein Schatten */
  opacity: 0.7;                  /* leicht transparent */
}

footer {
  position: fixed;          /* fixiert am Bildschirm */
  bottom: 0;                /* ganz unten */
  left: 0;
  width: 100%;              /* volle Breite */
  background-color: #fff;   /* weißer Hintergrund */
  padding: 0.5rem;

  display: flex;
  justify-content: center;  /* Inhalt zentrieren */
  align-items: center;
  z-index: 1000;            /* immer oben */
  font-size: 0.75rem;
  text-align: center;
}



/* Responsive Breakpoints */

/* Tablet: 2 Spalten */
@media (max-width: 900px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px);
  }
}

/* Smartphone: 1 Spalte */
@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 100%;
    max-width: 80%;
  }

  .container-50-50 {
    grid-template-columns: 1fr; /* 1 Spalte */
  }

  .container-30-30-30 {
    grid-template-columns: 1fr; /* 1 Spalte */
  }


}
