/* Basis Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color:rgb(39, 39, 39);
}

header {
  padding: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center; 
}

/* Galerie-Container */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; /* Abstand zwischen Bildern */
  padding: 10px;
  justify-content: center;
}

/* Galerie-Items */
.gallery-item {
  flex: 1 1 calc(33.333% - 10px); /* 4 Spalten, Abstand abziehen */
  overflow: hidden;
  min-width: 200px; /* verhindert zu kleine Items auf sehr schmalen Bildschirmen */
  max-width: 30%;
}

h3, h1 {
  font-size: 0.75rem;
  font-weight: 700;
  font-style: normal;
}
h4, h2 {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
}

/* Bilder */
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* wird durch lazyload später sichtbar */
  border-radius: 6px; /* optional: leicht abgerundete Ecken */
  margin-bottom: 1rem;
}

/* Lazyload-Fade-In */
.gallery-item img.loaded {
  opacity: 1;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: #000;        /* schwarzer Hintergrund */
  color: #fff;                   /* weiße Schrift */
  padding: 0.5rem;            /* Innenabstand */
  font-size: 0.75rem;               /* Schriftgröße */
  border: none;                  /* kein Rahmen */
  cursor: pointer;               /* Mauscursor auf Pointer */
  transition: all 0.3s ease;     /* sanfter Übergang für Hover */
  margin-top: 0.5rem;
  min-width: 50px;
}

/* Hover-Effekt */
.btn:hover {
  background-color: #2f00ff;        /* etwas helleres Schwarz beim Hover */
}

.btn:disabled {
  background-color: #ccc;       /* graues Design */
  color: #555;                   /* helle Schrift für Kontrast */
  cursor: not-allowed;           /* Zeiger zeigt, dass Klick nicht möglich ist */
  transform: none;               /* keine Hover-Transformation */
  box-shadow: none;              /* kein Schatten */
  opacity: 0.7;                  /* leicht transparent */
}

footer {
  position: fixed;          /* fixiert am Bildschirm */
  bottom: 0;                /* ganz unten */
  left: 0;
  width: 100%;              /* volle Breite */
  background-color: #fff;   /* weißer Hintergrund */
  padding: 15px 20px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1); /* leichter Schatten nach oben */
  display: flex;
  justify-content: center;  /* Inhalt zentrieren */
  align-items: center;
  z-index: 1000;            /* immer oben */
  font-size: 0.75rem;
  text-align: center;
}



/* Responsive Breakpoints */

/* Tablet: 2 Spalten */
@media (max-width: 900px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px);
  }
}

/* Smartphone: 1 Spalte */
@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 100%;
    max-width: 80%;
  }

}
